// importing all sass modules
@import '_vars';
@import 'modules/header';
@import 'modules/content';
@import 'modules/footer';

// this is where main variables will be defined
html, body{
    height: 100%;
    margin: 0;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3, h4, h5 { font-family: 'Poppins', sans-serif; color: $heading-colour; font-weight: bold; }
h1 {font-size: 54px;}
h2{color: $main-colour; font-size: 36px; margin-bottom: 20px; border-bottom: 2px solid $heading-colour; }
h3{color: $heading-colour; font-size: 28px;}
h4{color: $main-colour; font-size: 24px; margin-bottom: 20px}
p {  font-family: 'Poppins', sans-serif;}
a {color: #f2f2f2; font-size: 20px; font-family: 'Poppins', sans-serif; text-decoration: none; margin: 10px;}

.hidden{display: none}